.modal-content {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto en blanco */
    padding: 20px;
}
.fondoVeneno{
    background-color: blueviolet;
}


.planta{
    background-color: #139320 ;
}

.fuego{
    background-color: #FF5C00 ;
}

.agua{
    background-color: #3763FF ;
}

.bicho{
    background-color: #95B84A ;
}

.volador{
    background-color: #A1CFC7 ;
}